.link-container {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1200px) {
        margin-left: 70px;
    }

    p {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $white-color;
    }
}

.footer-social-list {
    display: inline-flex;
    justify-content: center;
    margin-bottom: 60px
}

.footer-social-item:not(:last-child) {
    margin-right: 10px;
}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms $main-cubic-bezier;

    &:hover,
    &:focus {
    background-color: $backlight-color;
    }

}

.footer-social-icon {
    fill: $white-color;
    width: 20px;
    height: 20px;
}