    $primary-text-color: #757575; 
    $backlight-color: #2196F3;
    $secondary-text-color: #212121; 
    $primary-icon-color: #AFB1B8;
    $white-color: #FFFFFF;
    $main-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
